---
import SocialLink from "./SocialLink.astro";
---

<footer>
  <p>I'm on the internet:</p>
  <ul>
    <li>
      <SocialLink
        platform="Twitter"
        domain="twitter.com"
        username="nikitapashinsky"
      />
    </li>
    <li>
      <SocialLink platform="Read.cv" domain="read.cv" username="nkta" />
    </li>
    <li>
      <SocialLink platform="Posts.cv" domain="posts.cv" username="nkta" />
    </li>
    <li>
      <SocialLink
        platform="Github"
        domain="github.com"
        username="nikitapashinsky"
      />
    </li>
  </ul>
</footer>
