---
---

<div id="nav" class="sm:flex flex-col sm:flex-row bg-slate-100 sm:gap-4 hidden">
  <a href="/" class="flex w-full sm:w-auto justify-center items-center py-2"
    >Home</a
  >
  <a
    href="/about/"
    class="flex w-full sm:w-auto justify-center items-center py-2">About</a
  >
  <a
    href="/blog/"
    class="flex w-full sm:w-auto justify-center items-center py-2">Blog</a
  >
</div>
